<p id="notice"><%= notice %></p>

<h1>Listing Sky Stores</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Bill</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sky_stores.each do |sky_store| %>
      <tr>
        <td><%= sky_store.total %></td>
        <td><%= sky_store.bill_id %></td>
        <td><%= link_to 'Show', sky_store %></td>
        <td><%= link_to 'Edit', edit_sky_store_path(sky_store) %></td>
        <td><%= link_to 'Destroy', sky_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sky store', new_sky_store_path %>
