<p id="notice"><%= notice %></p>

<h1>Listing Buy And Keeps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cost</th>
      <th>Skystore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_and_keeps.each do |buy_and_keep| %>
      <tr>
        <td><%= buy_and_keep.title %></td>
        <td><%= buy_and_keep.cost %></td>
        <td><%= buy_and_keep.skyStore_id %></td>
        <td><%= link_to 'Show', buy_and_keep %></td>
        <td><%= link_to 'Edit', edit_buy_and_keep_path(buy_and_keep) %></td>
        <td><%= link_to 'Destroy', buy_and_keep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy and keep', new_buy_and_keep_path %>
